<form ngSubmit="submitQuote()">
  <div class="form-group ">
    <label for="quote">Drop a quote in the box</label>
    <input
      required="quote"
      type="text"
      name="quote"
      placeholder="quote"
      [(ngModel)]="drop.quote"
      value="quote"
    />
    <div class="alert alert-danger" *ngIf="">
      quote is required
    </div>
  </div>
  <div class="form-group ">
    <label for="author">Author of the quote</label>
  
    <input
      type="text"
      name="author"
      placeholder="author"
      [(ngModel)]="drop.author"
      value=""
    />
  </div>
  <div class="form-group"> 
    <label for="name">Your name</label>

    <input
      type="text"
      name="name"
      [(ngModel)]="drop.name"
      value=""
      placeholder="name"
    />
  </div>

  

  <button class="btn btn-primary" type="Submit">Add Quote</button>
</form>
